<a href="https://colab.research.google.com/github/PszczeIarz/Bootcamp/blob/main/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'1.0.2'

Załadowanie danych

In [2]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw = fetch_financial_data()
df_raw.head()

                Open     High      Low    Close   Volume
Date
2022-04-01  3282.990  3316.54  3246.39  3271.20  2854475
2022-03-31  3328.895  3329.90  3259.07  3259.95  2998289
2022-03-30  3370.190  3379.01  3310.00  3326.02  2808363
2022-03-29  3407.680  3416.63  3357.37  3386.30  3307680
2022-03-28  3299.500  3380.75  3298.00  3379.81  2992691

Utworzenie kopii danych

In [3]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-04-01 to 2022-03-28
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

Generowanie nowych zmiennych

In [4]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

                Open     High      Low    Close   Volume  day  month  year
Date
2022-04-01  3282.990  3316.54  3246.39  3271.20  2854475    1      4  2022
2022-03-31  3328.895  3329.90  3259.07  3259.95  2998289   31      3  2022
2022-03-30  3370.190  3379.01  3310.00  3326.02  2808363   30      3  2022
2022-03-29  3407.680  3416.63  3357.37  3386.30  3307680   29      3  2022
2022-03-28  3299.500  3380.75  3298.00  3379.81  2992691   28      3  2022

Dyskretyzacja zmiennej ciągłej

In [6]:
df = pd.DataFrame(data={'height': [175.,178.5, 185., 191.,184.5,183.,168. ]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [8]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [10]:
df['height_cat'] = pd.cut(x=df.height, bins = (160, 175, 180, 195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [11]:
df['height_cat'] = pd.cut(x=df.height, bins = (160,175, 180, 195), labels = ['small','medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [13]:
pd.get_dummies (df, drop_first = True, prefix = 'height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

Ekstracja Cech

In [14]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [15]:
df['lang_number'] = df['lang'].apply(len)

In [16]:
df['PL_flag'] = df['lang'].apply(lambda x:1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [18]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [21]:
df.website.str.split('.', expand = True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [22]:
new = df.website.str.split('.', expand = True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com